{% comment %}Is this product on sale?{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

<div class="product-item{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">
	<div>
		<a href="#">

			<ul class="product-item__wrapper">
			{% if product.images.size > 1 %}
				{% for image in product.images %}
				<li class="{% if forloop.first %} selected{% elsif forloop.index == 2%} move-right{% endif %}">
					<img src="{{ image | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
				</li>
				{% endfor %}
			{% else %}
				<li class=" selected">
					<img src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />
				</li>
				{% endif %}
			</ul>

		</a>

		<div class="product-item__info">
			<a href="{{ product.url | within: collection }}">
				{{ product.title }}
			</a>

			<div>
				{% if product.price_varies %}From{% endif %}
				{% if on_sale %}
					<strike class="product-item__price">{{ product.price | money }}</strike>
					<em class="product-item__new-price">{{ product.compare_at_price | money }}</em>
				{% else %}
					<span class="product-item__price">{{ product.price | money }}</span>
				{% endif %}
			</div>
		</div>

		{% comment %}
			All themes by Shopify should support the Product Reviews app out of the box.
			https://apps.shopify.com/product-reviews
		{% endcomment %}
		<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

	</div>
</div>
